@model IEnumerable<Skidor4.Models.chiplink>

@{
    ViewBag.Title = "Chips";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string active = "";
}
<div class="container">
    <table class="table s-table table-striped table-responsive-lg">
        <thead class="s-table-head">
            <tr>
                <th scope="col">Chipnummer</th>
                <th scope="col">Startdatum</th>
                <th scope="col">Slutdatum</th>
                <th scope="col">Status</th>
                <th scope="col">Korttyp</th>
                <th scope="col">Redigera</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.chip_id)</td>
                <td>@Convert.ToDateTime(item.startdate).ToShortDateString()</td>
                <td>@Convert.ToDateTime(item.enddate).ToShortDateString()</td>
                <td>@if (item.chips.paid == true) { <span class="badge badge-success">Aktivt</span> } else { <span class="badge badge-danger">Ej Aktivt</span> }@active</td>
                <td>@Html.DisplayFor(modelItem => item.prices.name)</td>
                <td><button class="btn btn-primary bg-dark" type="button" onclick="location.href='@Url.Action("EditChips", new {id = item.chips.pk_id })'">Redigera</button></td>
            </tr>
            }
        </tbody>
    </table>
</div>